.cards_batalha {
    width: 15%;
    min-width: 280px;
}

#player {
    background-size: 150% 110%;
    background-repeat: no-repeat;
    background-position: center;
}

#oponente {
    background-size: 150% 110%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (height <= 900px) {
    #player,
    #magia_player,
    #efeito01_player,
    #efeito02_player,
    #efeito03_player,
    #oponente,
    #magia_oponente,
    #efeito01_oponente,
    #efeito02_oponente,
    #efeito03_oponente
    {
        width: 50%;            
    }
}